.form-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-styling {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-ribbon {
  margin-right: -2.3rem;
  margin-top: .8rem;
}

.right-ribbon {
  transform: scaleX(-1);
  margin-left: -2.3rem;
  margin-top: .8rem;
  z-index: -1;
}

.form-container {
  width: fit-content;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1e26f;
  z-index: auto;
}

.selection-container {
  width: fit-content;
  display: flex;
  justify-content: space-evenly;
}

.form-error-msg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  width: 50vw;
  background-image: url('../../assets/images/chat-bubble.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.form-error-msg {
  font-family: PoppinsSemiBold;
  font-size: 2vh;
}

select, input, button {
  width: fit-content;
  padding: .3rem;
  margin: 10px;
  font-size: 1.2vw;
  font-weight: bolder;
  border-radius: .5rem;
  border: 1px solid rgb(255, 255, 255);
}

button:hover {
  background-color: rgb(229, 229, 229);
}

@media only screen and (max-width: 600px) {
  /* For phone: */

  .left-ribbon, .right-ribbon {
    display: none;
  }

  .form-container {
    height: 6rem;
    width: 100%;
    border-radius: .2rem;
    box-shadow: .2rem .3rem .3rem #3d3d3d;
    margin-bottom: 10px;
  }

  .selection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
  }

  .form-error-msg-container {
    width: 70vw;
  }

  .form-error-msg {
    width: 50vw;
    text-align: center;
  }

  button, select {
    padding: .15rem;
    margin: 5px 5px 5px 5px;
    width: 90%;
    height: 30px;
    font-size: .85rem;
  }


}