.form-styling {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-ribbon {
  margin-right: -2.3rem;
  margin-top: .8rem;
}

.right-ribbon {
  transform: scaleX(-1);
  margin-left: -2.3rem;
  margin-top: .8rem;
  z-index: -1;
}

.form-container {
  width: fit-content;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1e26f;
  z-index: auto;
}

.selection-container {
  width: fit-content;
  display: flex;
  justify-content: space-evenly;
}

.error-msg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  width: 50vw;
  background-image: url('../../assets/images/chat-bubble.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.error-msg-text {
  font-family: PoppinsSemiBold;
  font-size: 2vh;
}

select, input, button {
  width: fit-content;
  padding: .3rem;
  margin: 10px;
  font-size: 1.2vw;
  font-weight: bolder;
  border-radius: .5rem;
  border: 1px solid rgb(255, 255, 255);
}