.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(173, 4, 4);
}

.logo {
  width: 4vw;
  padding: 1vw;
}

.link-container {
  font-size: 1.5rem;
  padding: 1vw;
  align-self: center;
  font-family: FinkHeavy;
}

