.form {
  display: flex;
  justify-content: center;
}

select, input, button {
  padding: 5px;
  margin: 10px;
  font-size: 2vh;
  font-weight: bolder;
  border-radius: 5px;
  border: 1px solid rgb(5, 3, 3);
}