body {
  margin: 0;
  height: 100vh;
  background-image: url('./assets/images/wallpaper.png');
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: FinkHeavy;
  src: local("FinkHeavy"),
    url("../src/assets/fonts/FinkHeavy.ttf") format('truetype')
}

@font-face {
  font-family: PoppinsLight;
  src: local("Poppins-Light"),
    url("../src/assets/fonts/Poppins-Light.ttf") format('truetype')
}

@font-face {
  font-family: PoppinsRegular;
  src: local("Poppins-Regular"),
    url("../src/assets/fonts/Poppins-Regular.ttf") format('truetype')
}