.collection-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
}

.my-collection-title {
  font-family: FinkHeavy;
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  text-shadow: .2rem .2rem .2rem #000000;
}